.container_section_1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

.eye-txt p {
  padding: 3em;
}

section {
  overflow: hidden;
  height: 100%;
}

#section1 {
  background-color: #2a2e39;
  padding-bottom: 5em;
}

#section2 {
  padding: 5em 0;
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);
  background-color: #191a1b;
}

p .text-important {
  font-weight: bold;
  transition: 1s;
}

p .text-important:hover {
  color: coral;
  letter-spacing: 0.1em;
}

.container_section_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

.container_section_2 .eye-img {
  margin-top: 5em;
}
.container_section_2 a {
  margin-bottom: 5em;
}

.container_section_3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

#section3 {
  background-color: #2a2e39;
  padding-bottom: 5em;
}

.container_section_3 a {
  margin-bottom: 5em;
}

/*********************************************************************************/
/*                                  Media Queries                                */
/*********************************************************************************/

@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
    padding: 5% 5px;
  }

  header,
  section {
    height: 100%;
  }

  header .container {
    float: none;
    text-align: center;
    padding: 5% 5px;
  }

  #section2 {
    padding: 0 5px;
  }

  #section3 {
    margin-top: -8%;
    padding-bottom: 20%;
  }

  .footer-bg {
    height: 200px;
    margin-top: -20%;
  }
}

@media screen and (min-width: 980px) {
  .cheque-txt p {
    text-align: justify;
  }

  .cheque-txt ul {
    padding-left: 0;
    text-align: justify;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: large;
    padding-top: 2em;
  }
  footer {
    flex-direction: column;
  }
  .container_section_1 {
    flex-direction: column;
  }

  .container_section_2 {
    flex-direction: column;
  }
  .container_section_3 {
    flex-direction: column;
  }

  .eye-txt p {
    padding: 1em 0;
  }

  #section3 {
    padding: 5em 0;
  }
}

@media screen and (max-width: 400px) {
  .footer-bg {
    margin-top: -35%;
  }

  .container_section_3 p {
    padding: 0;
  }
}
