/*********************************************************************************/
/*                                      GENERAL                                  */
/*********************************************************************************/

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px = 62.5% */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  /* background: #2a2e39; */
  /* background: orangered; */
  background-image: radial-gradient(#414141, #000);
  color: #cdcdcd;
  /* box-sizing: border-box; */

  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  font-size: 1.7rem;
}



/* $color-primary: #304f6c;
$color-primary-light: #414141;
$color-primary-dark: #000000; */

::selection {
  /* background-color: a definir; */
  color: coral;
}

section {
  overflow: hidden;
  height: 100%;
}

ul,
li {
  list-style: none;
}

h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 4rem;

  text-shadow: 2px 1px 13px rgba(150, 150, 150, 0.81);
}

hr.hr-1 {
  border: 0;
  border-top: 1px dashed #8c8c8c;
  text-align: center;
  /* width: 70%; */
  /* margin: 0 10rem; */

}

hr.hr-1:after {
  content: "\002702";
  display: inline-block;
  position: relative;
  top: -13px;
  padding: 0 3px;
  background: #191a1b;
  color: #8c8c8c;
  font-size: 18px;
}

hr.hr-2 {
  border: 0;
  border-top: 1px dashed #8c8c8c;
  text-align: center;
  /* width: 70vw; */
}

hr.hr-2:after {
  content: "\002702";
  display: inline-block;
  position: relative;
  top: -13px;
  padding: 0 3px;
  background: #d8d9da;
  color: #8c8c8c;
  font-size: 18px;
}

img {
  filter: grayscale(35%);
}

.style-logo {
  font-size: xx-large;
  font-weight: bold;
  color: coral;
}



/********************************/
/*          Custom Buttons      */
/********************************/



/* /////////////////// */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.7rem;
  border: none;
  cursor: pointer;
}
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #414141;
  }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
    .btn--white {
      background-color: #fff;
      color: #414141;
    }
    .btn--white::after {
      background-color: #fff;
    }
    .btn--green {
      background-color: #304f6c;
      color: #fff;
    }
    .btn--green::after {
      background-color: #304f6c;
    
    }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }





/********************************/
/*        Custom Headers        */
/********************************/

.header-page-2 {
  background-color: #111111;
  height: 30vh;
  clip-path: polygon(
    0 0,
    0 40%,
    13% 32%,
    16% 20%,
    26% 25%,
    34% 16%,
    41% 20%,
    54% 14%,
    62% 22%,
    74% 15%,
    82% 25%,
    89% 20%,
    91% 28%,
    100% 36%,
    100% 0
  );
  /* margin-bottom: -7%; */
  overflow: hidden;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
  margin-bottom: -8%;
}

/********************************/
/*          Scroll to TOP       */
/********************************/

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 2rem;
  bottom: 2rem;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #2e2e2e;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/*********************************************************************************/
/*                                        NAV                                    */
/*********************************************************************************/

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;

  /* opacity: 0.9; */

  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  /* text-transform: uppercase; */
  letter-spacing: 0.1rem;

  font-family: "Lato";

  transition-duration: 1s;
}

#menuToggle a:hover {
  color: coral;
  letter-spacing: 0.2rem;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
   * Just a quick hamburger
   */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #d4d4d4;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  /* width: 300px; */
  width: 20em;
  /* width: 400px; */
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  /* background: #ededed; */
  background-image: radial-gradient(
    circle,
    #ededed,
    #f1f1f1,
    #f6f6f6,
    #fafafa,
    #ffffff
  );
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  clip-path: polygon(0 0, 100% 0, 61% 100%, 0 88%);

  /* clip-path: polygon(
    0 0,
    0 95%,
    60% 100%,
    100% 81%,
    91% 73%,
    95% 65%,
    87% 58%,
    100% 53%,
    89% 46%,
    96% 40%,
    89% 33%,
    97% 26%,
    79% 25%,
    86% 14%,
    78% 11%,
    88% 6%,
    75% 0
  ); */
}

#menu li {
  padding: 0.2em 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/*********************************************************************************/
/*                                       NAV 2                                   */
/*********************************************************************************/

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  background-image: radial-gradient(#151518, #000);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 300%;
  transition: all 0.4s;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #414141;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible;
}
.navigation__icon {
  position: relative;
  margin-top: 2.5rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/*********************************************************************************/
/*                                 Hero Headers                                  */
/*********************************************************************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20rem; */
}
.hero h1 {
  /* font-size: 6rem;
  font-weight: bold;
  margin: 0;
  padding: 0; */
}

.hero img {
  /* transition: 1s; */
  opacity: 1;
  

}

.hero img:hover {
  /* transform: scale(1.2); */
}

.hero h3 {
  /* transition: 1s; */
  opacity: 1;
  


}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  /* background-color: #1f3a64; */
  opacity: 0.5;
}

/********************************/
/*       Header background     */
/********************************/

.head-image .header-1 {
  /* background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818); */
  height: 100vh;
  background-size: cover;
  background-image: url(../images/dark-wallpapers.jpg);
  background-position: top;
}

.head-image{
  height: 100vh;
  /* display: flex; */
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/********************************/
/*             404              */
/********************************/

#layoutError {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutError #layoutError_content {
  min-width: 0;
  flex-grow: 1;
}
#layoutError #layoutError_footer {
  min-width: 0;
}

.img-error {
  max-width: 20rem;
}

/*********************************************************************************/
/*                                       Footer                                  */
/*********************************************************************************/

/* Wavy background for footer */
.footer-bg {
  background-color: #111111;
  position: relative;
  margin-top: -2%;
  overflow: hidden;
  z-index: 100;
  height: 300px;
  clip-path: polygon(
    0% 65%,
    1% 64.95%,
    2% 64.8%,
    3% 64.6%,
    4% 64.3%,
    5% 63.9%,
    6% 63.45%,
    7% 62.9%,
    8% 62.25%,
    9% 61.55%,
    10% 60.8%,
    11% 59.95%,
    12% 59.05%,
    13% 58.1%,
    14% 57.1%,
    15% 56.05%,
    16% 55%,
    17% 53.9%,
    18% 52.8%,
    19% 51.65%,
    20% 50.5%,
    21% 49.35%,
    22% 48.2%,
    23% 47.05%,
    24% 45.9%,
    25% 44.8%,
    26% 43.75%,
    27% 42.75%,
    28% 41.75%,
    29% 40.8%,
    30% 39.9%,
    31% 39.1%,
    32% 38.35%,
    33% 37.65%,
    34% 37.05%,
    35% 36.5%,
    36% 36.05%,
    37% 35.65%,
    38% 35.35%,
    39% 35.15%,
    40% 35.05%,
    41% 35%,
    42% 35.05%,
    43% 35.2%,
    44% 35.45%,
    45% 35.75%,
    46% 36.15%,
    47% 36.65%,
    48% 37.2%,
    49% 37.85%,
    50% 38.55%,
    51% 39.35%,
    52% 40.2%,
    53% 41.1%,
    54% 42.05%,
    55% 43.05%,
    56% 44.1%,
    57% 45.15%,
    58% 46.3%,
    59% 47.4%,
    60% 48.55%,
    61% 49.7%,
    62% 50.85%,
    63% 52%,
    64% 53.15%,
    65% 54.25%,
    66% 55.35%,
    67% 56.4%,
    68% 57.45%,
    69% 58.4%,
    70% 59.35%,
    71% 60.2%,
    72% 61.05%,
    73% 61.8%,
    74% 62.45%,
    75% 63.05%,
    76% 63.6%,
    77% 64.05%,
    78% 64.4%,
    79% 64.7%,
    80% 64.85%,
    81% 65%,
    82% 65%,
    83% 64.9%,
    84% 64.75%,
    85% 64.5%,
    86% 64.2%,
    87% 63.75%,
    88% 63.25%,
    89% 62.7%,
    90% 62.05%,
    91% 61.3%,
    92% 60.5%,
    93% 59.65%,
    94% 58.75%,
    95% 57.8%,
    96% 56.8%,
    97% 55.75%,
    98% 54.65%,
    99% 53.55%,
    100% 52.4%,
    100% 100%,
    0% 100%
  );
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* text-align: center; */
  line-height: 1.5;
  /* height: 200px; */
  min-height: 10rem;
  margin-top: -5px;
  background-color: #111111;
  /* background-color: #7f1d1d; */
  color: #d1d5db;
  padding: 2rem 0;
  /* filter: grayscale(50%); */

}

.button_about {
  display: flex;
  width: 22rem;
  justify-content: space-around;
}

.button_about a {
  color: #d1d5db;
}

.button_about a .fa-github-square:hover {
  color: #000;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}

.button_about a .fa-linkedin:hover {
  color: #0e76a8;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}
.button_about a .fa-facebook:hover {
  background: #2b4170;
  background: linear-gradient(120deg, #3b5998, #2b4170);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}
.button_about a .fa-instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in 0s;
  transform: translate(0, -10%);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 20rem;
  transition: 1.5s;
}

.logo img:hover {
  transform: scale(1.2);
}

.one {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: left;
}

.one a {
  margin: 0;
  padding: 0;
  color: #d1d5db;
  text-decoration: none;
  font-size: 1.5rem;
}

.one a:hover {
  letter-spacing: 0.1rem;
  transition-duration: 1s;
}

.one ul {
  padding-left: 0;
}

/* ------------------------------------------------------SHINE EFFECT SPAN------------------------------------------------------ */
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@media (max-width: 425px) {
  .button1 {
    font-size: small;
  }
}
