.custom-select {
  background: #2a2e39;
  color: #d1d5db;
}

.form-inline {
  justify-content: center;
}

/* QUOTE */
blockquote {
  margin: 0;
  padding-top: 2em;
}

blockquote p {
  padding: 2em;
  background: #d1d5db;
  border-radius: 5px;
  color: #2a2e39;
  text-align: center;
  justify-content: center;
  align-items: center;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

.container_section_1 {
  align-items: center;
  text-align: center;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

.eye-txt p {
  padding: 3em 3em 0.5em 3em;
  text-align: center;
}

section {
  overflow: hidden;
  height: 100%;
}

#section1 {
  background-color: #2a2e39;
  padding-bottom: 5em;
}

.besoin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
  padding-top: 2em;
}

.card-one:hover,
.card-two:hover,
.card-three:hover,
.card-four:hover {
  transform: scale(0.9);
}

.besoin h3 {
  font-size: large;
  text-align: center;
  padding-bottom: 2em;
}

.card-one,
.card-two,
.card-three,
.card-four {
  border: #d1d5db solid 1px;
  /* min-height: 25em auto; */
  height: auto;
  padding: 5em;
  margin: 1em;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background-color: #191a1b;
}

#section2 {
  padding: 5em 0;
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);
  /* background-color: #d8d9da; */
  background: url("../images/JDPBottomAppli-1024x576.png");
  background-size: cover;
}

.container_section_2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #1f2937;
  margin-top: 5em;
}

p .text-important {
  font-weight: bold;
  transition: 1s;
}

p .text-important:hover {
  color: coral;
  letter-spacing: 0.1em;
}

.JDP-app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  margin-bottom: 7em;
}

.JDP-video {
  width: 40%;
  flex-direction: column;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.JDP-mobile {
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #1f2937;
}

.JDP-mobile img {
  width: 50%;
}

.container_section_3 {
  width: 100%;
  display: flex;
  flex-direction: column;

  line-height: 1.5;

  color: #d1d5db;
}

#section3 {
  background-color: #2a2e39;
  padding-bottom: 5em;
}

#slideshow {
  /* margin: 1em auto; */
  position: relative;
  /* width: 30em; */
  height: 15em;
  /* padding: 10px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0;
}

#slideshow > div {
  position: absolute;
  /* top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
  padding-top: 5em;
}

#slideshow img {
  height: 20em;
}

.container_section_4 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #1f2937;
  color: #d1d5db;
}

/*********************************************************************************/
/*                                  Media Queries                                */
/*********************************************************************************/

@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
    padding: 5% 5px;
  }

  header,
  section {
    height: 100%;
  }

  header .container {
    float: none;
    text-align: center;
    padding: 5% 5px;
  }

  #section2 {
    padding: 0 5px;
  }

  #section3 {
    margin-top: -8%;
    padding-bottom: 20%;
  }

  .footer-bg {
    height: 200px;
    margin-top: -20%;
  }
  .card-one,
  .card-two,
  .card-three,
  .card-four {
    padding: 0;
    padding-top: 1em;
  }
}

@media screen and (min-width: 980px) {
  .cheque-txt p {
    text-align: justify;
  }

  .cheque-txt ul {
    padding-left: 0;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .JDP-app {
    flex-direction: column;
  }
  .JDP-mobile {
    width: 100%;
  }
  .JDP-video {
    width: 100%;
  }
  .container_section_2 {
    flex-direction: column;
  }
  .besoin {
    flex-direction: column;
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four {
    padding: 1em;
    min-height: 1em;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: large;
    padding-top: 2em;
  }
  footer {
    flex-direction: column;
  }
  .container_section_1 {
    flex-direction: column;
  }

  .container_section_3 {
    flex-direction: column;
  }

  .eye-txt p {
    padding: 1em 0;
  }

  #section3 {
    padding: 5em 0;
  }
}

@media screen and (max-width: 400px) {
  .footer-bg {
    margin-top: -35%;
  }
  #slideshow {
    margin-bottom: 9em;
  }
  .container_section_3 p {
    padding: 0;
  }
}
