.header-page-2 {
  background-color: #111111;
  height: 30vh;
  clip-path: polygon(
    0 0,
    0 40%,
    13% 32%,
    16% 20%,
    26% 25%,
    34% 16%,
    41% 20%,
    54% 14%,
    62% 22%,
    74% 15%,
    82% 25%,
    89% 20%,
    91% 28%,
    100% 36%,
    100% 0
  );
  margin-bottom: -7%;
  overflow: hidden;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

.button3 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  /* border: 1px solid white; */
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  transition: all 0.3s ease-in 0s;
  /* border-radius: 20px; */
  letter-spacing: 0.2em;
  text-decoration: none;
  background-color: #111111;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.button3:hover {
  background: #d1d5db;
  color: #392d3b;
  text-decoration: none;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}

.custom-select {
  background: #2a2e39;
  color: #d1d5db;
}

.form-inline {
  justify-content: center;
}

/* QUOTE */
blockquote {
  margin: 0;
  padding-top: 2em;
}

blockquote p {
  padding: 2em;
  background: #d1d5db;
  border-radius: 5px;
  color: #2a2e39;
  text-align: center;
  justify-content: center;
  align-items: center;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

.container_section_1 {
  align-items: center;
  text-align: center;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

.eye-txt p {
  padding: 3em 3em 0.5em 3em;
  text-align: center;
}

section {
  overflow: hidden;
  height: 100%;
}

#section1 {
  background-color: #2a2e39;
  padding-bottom: 5em;
}

#section2 {
  padding: 5em 0;
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);
  /* background-color: #d8d9da; */
  background: url("../images/JDPBottomAppli-1024x576.png");
  background-size: cover;
}

.container_section_2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #1f2937;
  margin-top: 5em;
}

p .text-important {
  font-weight: bold;
  transition: 1s;
}

p .text-important:hover {
  color: coral;
  letter-spacing: 0.1em;
}

.JDP-app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  margin-bottom: 7em;
}

/* .embed-responsive {
  width: 20%;
} */

.JDP-video {
  width: 40%;
  flex-direction: column;
  border-radius: 50px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.JDP-mobile {
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #1f2937;
}

.JDP-mobile img {
  width: 50%;
}

.container_section_3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center;
  text-align: justify; */
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

#section3 {
  background-color: #2a2e39;
  padding-bottom: 5em;
}

.tryptique {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}

.tryptique img {
  width: 20em;
}

#slideshow {
  /* margin: 1em auto; */
  position: relative;
  /* width: 30em; */
  height: 15em;
  /* padding: 10px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0;
}

#slideshow > div {
  position: absolute;
  /* top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
  padding-top: 5em;
}

#slideshow img {
  height: 20em;
}

.container_section_4 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #1f2937;
  color: #d1d5db;
}

#section4 {
  padding: 5em 0;
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);
  background-color: #191a1b;
}

.img-corporate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  padding: 0 20em 2em 20em;
}

.img-corporate img {
  width: 20em;
}

.container_section_5 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

#section5 {
  background-color: #2a2e39;
  padding-bottom: 5em;
}

.container5 > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.container5 > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 2px 16px var(--shadow);
}

.container5 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

/*********************************************************************************/
/*                                  Media Queries                                */
/*********************************************************************************/

@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
    padding: 5% 5px;
  }

  header,
  section {
    height: 100%;
  }

  header .container {
    float: none;
    text-align: center;
    padding: 5% 5px;
  }

  #section2 {
    padding: 0 5px;
  }

  #section3 {
    margin-top: -8%;
    padding-bottom: 20%;
  }

  #section5 {
    margin-top: -8%;
    padding-bottom: 20%;
  }

  #section4 {
    padding-bottom: 20%;
  }

  .footer-bg {
    height: 200px;
    margin-top: -20%;
  }
}

@media screen and (min-width: 980px) {
  .hero {
    width: 980px;
  }
  .cheque-txt p {
    text-align: justify;
  }

  .cheque-txt ul {
    padding-left: 0;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .tryptique img {
    width: 15em;
  }

  .img-corporate img {
    width: 15em;
    padding: 1em;
  }
  .JDP-app {
    flex-direction: column;
  }
  .JDP-mobile {
    width: 100%;
  }
  .JDP-video {
    width: 100%;
  }
  .container_section_2 {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .tryptique {
    flex-direction: column;
  }
  .tryptique img {
    width: 15em;
  }
  .img-corporate {
    flex-direction: column;
    padding: 0;
  }
  .img-corporate img {
    width: 100vw;
  }

  .hero h1 {
    font-size: 4em;
  }
  h3 {
    font-size: large;
    padding-top: 2em;
  }
  footer {
    flex-direction: column;
  }
  .container_section_1 {
    flex-direction: column;
  }

  .container_section_numeric {
    flex-direction: column;
  }

  .container_section_3 {
    flex-direction: column;
  }
  .container_section_5 {
    flex-direction: column;
  }
  .eye-txt p {
    padding: 1em 0;
  }
  .row_section_2 {
    display: flex;
    flex-direction: column;
  }
  .container_section_4 {
    flex-direction: column;
  }

  #section3 {
    padding: 5em 0;
  }
  #section4 {
    padding: 15em 0;
  }
  #section5 {
    padding: 5em 0;
  }
}

@media screen and (max-width: 400px) {
  .footer-bg {
    margin-top: -35%;
  }

  .hero img {
    width: 90vw;
  }
  .container_section_3 p {
    padding: 0;
  }
  .container_section_5 p {
    padding: 0;
  }
}
