.container_section_1 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

.eye-txt p {
  padding: 3em;
}

.eye-txt a {
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s;
  color: coral;
}

.eye-txt a:hover {
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #d1d5db;
}

section {
  overflow: hidden;
  height: 100%;
}

#section1 {
  /* background-color: #2a2e39; */
  padding-bottom: 5em;
}

#section2 {
  padding: 5em 0;
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);
  /* background-color: #d8d9da; */
  background-image: url(../images/BGwhite-min.jpg);
}

p .text-important {
  font-weight: bold;
  transition: 1s;
}

p .text-important:hover {
  color: coral;
  letter-spacing: 0.1em;
}

.container_section_2 {
  margin: 1em;
  padding: 2em;
  /* width: 10vw; */

  color: #1f2937;
}

#slideshow {
  /* margin: 1em auto; */
  position: relative;
  /* width: 30em; */
  height: 25em;
  /* padding: 10px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); */
  display: flex;
  align-items: center;
  justify-content: center;
}

#slideshow > div {
  position: absolute;
  /* top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.container_section_3 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

#section3 {
  /* background-color: #2a2e39; */
  padding-bottom: 5em;
}

.container_section_4 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

#section4 {
  padding: 5em 0;
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0% 100%);
  background-color: #191a1b;
}

.img-corporate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  padding: 0em 20em 2em 20em;
  /* padding: 0; */
}

.img-corporate img {
  width: 15em;
}

.container_section_5 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
  /* margin: 5em auto; */
  /* padding: 2em; */
  color: #d1d5db;
}

#section5 {
  /* background-color: #2a2e39; */
  padding-bottom: 5em;
}

/*********************************************************************************/
/*                                  Media Queries                                */
/*********************************************************************************/

@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
    padding: 5% 5px;
  }

  header,
  section {
    height: 100%;
  }

  header .container {
    float: none;
    text-align: center;
    padding: 5% 5px;
  }

  #section2 {
    padding: 0 5px;
  }

  #section3 {
    margin-top: -8%;
    padding-bottom: 20%;
  }

  #section5 {
    margin-top: -8%;
    padding-bottom: 20%;
  }

  #section4 {
    padding-bottom: 20%;
  }

  .footer-bg {
    height: 200px;
    margin-top: -20%;
  }
}

@media screen and (min-width: 980px) {
  .cheque-txt p {
    text-align: justify;
  }

  .cheque-txt ul {
    padding-left: 0;
    text-align: justify;
  }
}

@media screen and (max-width: 768px) {
  .img-corporate img {
    width: 15em;
    padding: 1em;
  }
}

@media screen and (max-width: 640px) {
  .img-corporate {
    flex-direction: column;
    padding: 0;
  }
  .img-corporate img {
    width: 100vw;
  }

  h3 {
    font-size: large;
    padding-top: 2em;
  }
  footer {
    flex-direction: column;
  }
  .container_section_1 {
    flex-direction: column;
  }

  .container_section_2 {
    flex-direction: column;
  }
  .container_section_3 {
    flex-direction: column;
  }
  .container_section_5 {
    flex-direction: column;
  }
  .eye-txt p {
    padding: 1em 0;
  }

  .container_section_4 {
    flex-direction: column;
  }

  #section3 {
    padding: 5em 0;
  }
  #section4 {
    padding: 15em 0;
  }
  #section5 {
    padding: 5em 0;
  }
}

@media screen and (max-width: 400px) {
  .footer-bg {
    margin-top: -35%;
  }

  .container_section_3 p {
    padding: 0;
  }
  .container_section_5 p {
    padding: 0;
  }
}
