/*********************************************************************************/
/*                                    SECTION 1                                  */
/*********************************************************************************/

h3 {
  margin-bottom: 2rem;
}

.head-image .hero h1{
  display: none;
}

section {
  overflow: hidden;
  height: 100%;
}

#section1 {
  /* background-color: #2a2e39; */
  background-image: linear-gradient(
    to bottom,
    #191a1b,
    #191a1b,
    #1c1d22,
    #23252d,
    #2a2e39
  );
  margin-bottom: -4rem;
 
}
  .container__section1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

    border-top: #fff inset 1px;
    margin-bottom: -0.5rem;
  }
    .section1__txt {
      width: 60vw;
      /* opacity: 0; */
      /* transform: translateX(-20rem); */
    }
      .section1__txt p {
        text-align: center;
        padding: 1rem;
      }
      .section1__txt a {
      opacity: 0;
      transform: translateY(10rem);
      }

      .section1__txt--title {
        opacity: 0;
        transform: translateX(-40rem);
      }
    .section1__img {
      background-color: #191a1b;
      width: 40vw;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 99%);
      padding-top: 1rem;
      text-align: center;
      /* margin: auto; */
      display: flex;
      /* height: 80vh; */
      transform: translateX(500px);
      opacity: 0;
    }

/*********************************************************************************/
/*                                    SECTION 2                                  */
/*********************************************************************************/

#section2 {
  background-image: linear-gradient(
    to top,
    #2a2e39,
    #252931,
    #20242a,
    #1c1f22,
    #191a1b
  );
  padding: 15rem 30rem;
  transform: skew(0, -2deg); /* makes the section slanted/skewed*/
  z-index: 40;
  margin-top: -15rem;
  
}

.container__section2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 5rem auto;
  transform: skew(0, 2deg); /* makes the section slanted/skewed*/
}

  .section2__card {
    margin-top: 1rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    color: #1f2937;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    background-color: #d1d5db;
    width: 30rem;
    height: 70rem;
    overflow: hidden;
    border-radius: 5px;
  }
        .container__section2 .section2__card {
          transition: all 0.4s;
        }
        .container__section2 .section2__card:hover {
          transform: scale(1.05) translateY(-2rem);
        }

    .card__body{
      /* height: 30rem; */
      padding: 1rem;
     
    }
    .card__body--title {
      font-weight: 900;
      font-size:medium;
      letter-spacing: 0.1;
      padding: 2rem 0;
      text-align: center;
    }
    .card__body--text{
      text-align: justify;
      padding-bottom: 2rem;
  

    }

/*********************************************************************************/
/*                                    SECTION 3                                  */
/*********************************************************************************/

#section3 {
  /* background-color: #1f2937; */
  /* background-color: #191a1b; */
  /* height: 100%; */
  color: #f2f2f2;
 
  padding: 6rem 0;
  
  overflow: hidden;
}
  .container__section3 {
    /* width: 99%; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin: 5rem auto;
  }
  .section3__txt{
    /* padding: 2rem; */
    display: flex;
  }
    .section3__txt:nth-child(1){
    width: 40%;
    justify-content: center;
    }
  .section3__txt:nth-child(2){
    width: 60%;
    flex-direction: column;
    /* padding: 2rem; */
  }
    .container__section3 p {
      padding: 0 1rem;
      text-align: justify;
    }

    .container-card {
      position: relative;
    }
    
    .card {
      width: 40rem;
      height: 60rem;
      background: #000;
      flex-shrink: 0;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      border-radius: 3px;
    }
    .image-zoom {
      width: 100%;
      height: 100%;
      background-image: url('../images/bryan.jpg');
      background-size: cover;
      background-position: center;
      transform: scale(1);
    }
    .bloc-focus-top, .bloc-focus-bottom {
      width: 30rem;
      height: 30rem;
      position: absolute;
      z-index: -1;
    }
    .bloc-focus-top {
      background: #536976;
      top: 0;
      left: 0;
    }
    .bloc-focus-bottom {
      background: #292E49;
      
      bottom: 2rem;
      right: 0;
    }   
    .bloc-content-show {
      width: 100%;
      height: 15rem;
      background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
      position: absolute;
      z-index: 100;
      bottom: 0;
      color: #f1f1f1;
      padding: 1.5rem;
      transform: translateY(20rem);
    }
    .bloc-content-show h2 {
      font-size: 3.5rem;
      display: flex;
      justify-content: space-between;
      font-family: Montserrat, sans-serif;
    }
    /* .bloc-content-show h2 img {
      width: 3rem;
    } */
    .bloc-content-show hr {
      width: 10rem;
      height: 1px;
      border-radius: 5px;
      margin: 0.7rem 0 2rem;
      background: #f1f1f1;
      border: none;
    }
    .bloc-content-show p {
      margin: 0.5rem 0;
      font-size: 1.2rem;
      /* line-height: 1.4; */
    }
    .bloc-content-show p span {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
    }

/*********************************************************************************/
/*                                    SECTION 4                                  */
/*********************************************************************************/

svg {
  overflow: hidden;
  margin-top: -4rem;
  margin-left: -1rem;
  z-index: 1000;
}

#section4 {
  /* background-image: linear-gradient(
    to bottom,
    #0a0a0a,
    #151518,
    #1c1d22,
    #23252d,
    #2a2e39
  ); */
  margin-top: -10%;
  padding-top: 10%;
  /* padding-bottom: 12%; */
}
  .container__section4 {
    margin: 1rem auto;
    padding: 0 25rem;
    color: #d1d5db;
  }
  .container__section4 h3 {
    text-align: center;
    margin: 10rem 0 5rem 0;
  }
    .container__section4 p {
      text-align: justify;
      margin-bottom: 5rem;
    }
      .section4__img {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
            .img__figure img {
              transition: 0.7s;
              border-radius: 50% !important;
            }
            .img__figure img:hover {
              transform: rotate(360deg) scale(1.5);
            }
        .img__figure--logo {
          width: 20rem;
        }

/*********************************************************************************/
/*                                    POPUPS                                     */
/*********************************************************************************/

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    /* background-color: #fff; */
    background-image: linear-gradient(to left top, #7f8c8d, #000);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;
  }
    .popup__left {
      width: 33.333333%;
      display: table-cell;
    }
    .popup__right {
      width: 66.6666667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem;
    }
    .popup__right h2{
      margin-bottom: 2rem;
    }
    .popup__img {
      display: block;
      width: 100%;
      height: auto;
    }
    .popup__text {
      font-size: 1.4rem;
      margin-bottom: 4rem;
      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid #eee;
      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid #eee;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      text-align: justify;
    }
      .popup:target {
        opacity: 1;
        visibility: visible;
      }
      .popup:target .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }
      .popup__close:link, .popup__close:visited {
        color: #000;
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 3rem;
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s;
        line-height: 1;
      }
      .popup__close:hover {
        color: #fff;
      }



/*********************************************************************************/
/*                                  Media Queries                                */
/*********************************************************************************/

@media screen and (max-width: 1024px) {
  #section2 {
    padding: 0 5px;
    margin-top: -1rem;
  }

  #section3 {
    margin-top: -8%;
    padding-bottom: 20%;
  }

  #section4 {
    padding-bottom: 20%;
  }

  .footer-bg {
    height: 200px;
    margin-top: -30%;
  }
}

@media screen and (max-width: 950px) {
  .section1__img {
    display: none;
  }
  .section1__txt {
    width: 100vw;
    padding-bottom: 5rem;
  }
  .container__section4 {
    flex-direction: column;
    padding: 1rem;
    margin: 0;
  }
  .container__section3 {
    flex-direction: column;
    /* padding: 0 5rem; */
    margin: 0;
    text-align: justify;
  }

  .section3__txt:nth-child(1){
    width: 100%;
    padding-top: 3rem;
   
    }
  .section3__txt:nth-child(2){
    width: 100%;
  }

  .container__section3 :nth-child(1){
    padding-bottom: 2rem;
  }

}

@media screen and (max-width: 768px) {
  #section2 {
    margin-top: -1rem;
  }
  .container__section2 {
    flex-direction: column;
  }
  .section2__card {

    width: 70vw;
    height: 80rem;
   
  }
  


  .hero h3{
    font-size: 2.5rem;
  }

  .popup__left {
    display: none;
  }
  .popup__right {
    width: 100%;
  }

}





@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4em;
  }
  h3 {
    font-size: large;
  }
  footer {
    flex-direction: column;
  }
  .container__section1 {
    flex-direction: column;
  }

  .section2__card {

    width: 90vw;
    height: 70rem;
   
  }

  .container__section3 {
    flex-direction: column;
    margin: 0 1rem;

  }
  .container__section4 {
    flex-direction: column;
    padding: 0;
    margin: 0 2rem;
  }

  .popup__text {
    column-count: 1;
  }

  .popup__content {
    width: 99vw;
    height: 99vh;
  }
}

@media screen and (max-width: 400px) {
  .footer-bg {
    margin-top: -35%;
  }

  .hero img {
    width: 90vw;
  }

  #section2 {
    margin-top: 3rem;
  }
  .container__section3 p {
    padding: 0;
  }

  /* .cheque-title {
    font-size: x-large;
  } */
}
