/*********************************************************************************/
/*                                       BODY                                    */
/*********************************************************************************/
.button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  transition: all 0.3s ease-in 0s;
  border-radius: 20px;
  letter-spacing: 0.2em;
  text-decoration: none;
}
.button1:hover {
  background: #fff;
  color: #392d3b;
  text-decoration: none;
}

.button1-bis {
  font-weight: bold;
  text-transform: uppercase;
  color: #1f2937;
  border: 1px solid #1f2937;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  transition: all 0.3s ease-in 0s;
  border-radius: 20px;
  letter-spacing: 0.2em;
  text-decoration: none;
}
.button1-bis:hover {
  background: #1f2937;
  color: #fff;
  text-decoration: none;
}

.btn {
  border-radius: 20px;
  padding: 9px 50px;
}

ul,
li {
  list-style: none;
}

h3 {
  margin-bottom: 2rem;
}

/* header {
  line-height: 1.75;
  height: 100%;
  background-color: #dc2626;
  color: #f8f8f8;
} */

/* .container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  padding: 5%;
} */

.container_section_1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin: 5em auto;
  padding: 2em;
  border: black solid 1px;
  border-radius: 20px;
  background: url("../images/BGwhite-min.jpg");
  color: #1f2937;
}

.cheque-txt p {
  text-align: center;
  padding: 1em;
}

.cheque-txt ul {
  padding-left: 0;
}
.cheque-txt ul li {
  padding: 0 1em;
}

.cheque-title {
  text-transform: uppercase;
}

section {
  overflow: hidden;
  height: 100%;
}

#section1 {
  background-color: #f9fafb;
}

#section2 {
  background-color: #f59e0b;
  padding: 5%;
  transform: skew(0, -2deg); /* makes the section slanted/skewed*/
}

.card-title {
  font-weight: bold;
  font-size: medium;
  letter-spacing: 0;
}

.card {
  margin-top: 1em;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  color: #1f2937;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.container_section_2 .card {
  transition: 1s;
}

.container_section_2 .card:hover {
  transform: scale(0.9);
}

.container_section_2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin: 1em auto;
  padding: 1em;
  transform: skew(0, 2deg); /* makes the section slanted/skewed*/
}

#section3 {
  background-color: #1f2937;
  height: 100%;
  color: #f2f2f2;
  margin-top: -5%;
  padding-top: 8%;
  padding-bottom: 8%;
  overflow: hidden;
}

.container_section_3 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  /* text-align: center; */
  line-height: 1.5;
  margin: 1em auto;
  padding: 2em;
}

.container_section_3 p {
  padding: 0 1em;
  text-align: justify;
}

svg {
  overflow: hidden;
  margin-top: -4rem;
  margin-left: -1rem;
  z-index: 1000;
}

#section4 {
  background-color: #f9fafb;
  margin-top: -10%;
  padding-top: 10%;
  /* padding-bottom: 12%; */
}

.container_section_4 {
  margin: 1em auto;
  padding: 2em;

  color: #1f2937;
}

.img-section-4 {
  width: 200px;
}

.row_section_4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pb-4 img {
  transition: 0.7s;
  border-radius: 50% !important;
}

.pb-4 img:hover {
  transform: rotate(360deg) scale(1.5);
}

.header-page {
  background-color: #f59e0b;
  height: 30vh;
  clip-path: polygon(0 0, 100% 0, 100% 14%, 0 37%);
  /* margin-bottom: -7%; */
  overflow: hidden;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

/*********************************************************************************/
/*                                  Media Queries                                */
/*********************************************************************************/

@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
    padding: 5% 5px;
  }

  header,
  section {
    height: 100%;
  }

  header .container {
    float: none;
    text-align: center;
    padding: 5% 5px;
  }

  #section2 {
    padding: 0 5px;
  }

  #section3 {
    margin-top: -8%;
    padding-bottom: 20%;
  }

  #section4 {
    padding-bottom: 20%;
  }

  .footer-bg {
    height: 200px;
    margin-top: -30%;
  }
}

@media screen and (min-width: 980px) {
  .hero {
    width: 980px;
  }
}

@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4em;
  }
  h3 {
    font-size: large;
  }
  footer {
    flex-direction: column;
  }
  .container_section_1 {
    flex-direction: column;
  }

  .container_section_numeric {
    flex-direction: column;
  }

  .container_section_2 {
    flex-direction: column;
  }
  .container_section_3 {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .footer-bg {
    margin-top: -35%;
  }

  .hero img {
    width: 90vw;
  }
  .container_section_3 p {
    padding: 0;
  }
}
