.header-page {
  background-color: #f59e0b;
  height: 30vh;
  clip-path: polygon(0 0, 100% 0, 100% 14%, 0 37%);
  /* margin-bottom: -7%; */
  overflow: hidden;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

#thanks {
  background-color: #2a2e39;
  display: flex;
  flex-direction: column;
}

.container_section_thanks {
  width: 100vw;
  display: flex;
  flex-direction: column;

  line-height: 1.5;

  color: #d1d5db;
}

/*********************************************************************************/
/*                                  Media Queries                                */
/*********************************************************************************/

@media screen and (max-width: 1024px) {
  .container {
    width: 90vw;
    padding: 5% 5px;
  }

  header,
  section {
    height: 100%;
  }

  header .container {
    float: none;
    text-align: center;
    padding: 5% 5px;
  }

  .footer-bg {
    height: 200px;
    margin-top: -30%;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: large;
  }
  footer {
    flex-direction: column;
  }
  .container_section_1 {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .footer-bg {
    margin-top: -35%;
  }
}
